{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'paes/style.css' %}">
</head>
<body>
    <div class="app">
      <header>
        <nav><a href="/paes">Padaria</a></nav>
      </header>
      <main>
        {% block content %}
        {% endblock %}
        <footer>Padaria app 2023</footer>
      </main>
    </div>
</body>
</html>